$black: #151515;
$grey: #444444;
$gold: #D5966C;
$bg: #F2F2F2;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;900&family=Outfit:wght@300&display=swap');

$heading: 'Big Shoulders Display';
$paragraph: 'Outfit';